* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  background: #000;
  width: 300px;
  border-radius: 24px;
  height: 600px;
  padding: 8px 16px;
  color: white;
  position: relative;
  border: 4px solid rgb(70, 70, 70);
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100px;
}

.header .clock {
  font-size: 12px;
  user-select: none;
}

.header .status {
  height: 12px;
  user-select: none;
}

.camera-con {
  position: absolute;
  width: 110px;
  height: 26px;
  background: rgb(52, 52, 52);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.camera-con .camera {
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  border: 2px solid rgb(107, 106, 106);
}

.camera-con .speaker {
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.486);
}

.display {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-align: right;
  margin-right: 5px;
  height: 110px;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-bottom: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 60px;
  height: 60px;
  background: #161616;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  transition: filter 0.1s;
  color: white;
}

.btn:active {
  filter: brightness(120%);
}

.zero {
  grid-column: 1 / 3;
  width: 100%;
  border-radius: 50px;
}

.btn.function {
  color: black;
  background: #a5a5a5;
}

.btn.operator {
  background: #f1a33c;
  font-size: 25px;
}

.naviator {
  width: 100px;
  height: 4px;
  background: white;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
